$link-highlight: #828fd4;

$link-highlight: #828fd4;

.example-spacer {
    flex: 1 1 auto;
}

#toolbar {
    // background-color: #e8ebf7;
}

mat-toolbar {
    background-color: transparent;
    height: 90px;
    font-size: x-large;
}

.image-div > img {
    max-height: 55px !important;
}

.image-div-small > img {
    max-height: 20px !important;
}

@media (max-width: 992px) {
    
    .image-div {
        margin-left: 15px;
    }

    .image-div > img {
        max-height: 50px !important;
    }

    .image-div-small > img {
        max-height: 20px !important;
    }
}
// height="80" width="260"

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: #919cd9;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #e8ebf7;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

// @media screen and (max-width: 600px) {
//     .image-div > img {
//         max-height: 100% !important;
//         position: relative;
//     }   
// }