<section id="toolbar">
    <mat-toolbar fxLayout="row" class="container">
        <span style="font-size:30px; cursor:pointer" (click)="openNav()" class="d-block d-lg-none">&#9776;</span>
        <div class="image-div">
            <img src="assets/images/logo.svg" class="img-fluid mx-auto pointer" routerLink="/home" />
        </div>
        <!-- <div class="image-div-small d-md-none">
            <img src="assets/images/logo.svg" class="mx-auto" routerLink="/home" />
        </div> -->
        <!-- <strong class="primary-text">Globixs</strong> -->
        <span class="example-spacer"></span>
        <app-nav class="d-none d-xl-block" [screenSize]="'large'"></app-nav>
    </mat-toolbar>
</section>

<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
    <app-nav [screenSize]="'small'"></app-nav>
</div>