.footer-container {
    min-height: 50px !important;
    // position: absolute;
    bottom: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #111632;
    color: hsla(0,0%,60%,.7);
}

@media (max-width: 992px) {
    .footer-container {
        bottom: 48px !important;
    }
}