<mat-form-field appearance="fill">
    <mat-label>Tell us what you are looking for to get started...</mat-label>
    <input matInput placeholder="Tell us what you are looking for to get started...">
</mat-form-field>
<mat-form-field appearance="fill">
    <mat-label>Position | Location</mat-label>
    <input matInput placeholder="Position | Location">
</mat-form-field>
<mat-form-field appearance="fill">
    <mat-label>Email | Phone #</mat-label>
    <input matInput placeholder="Email | Phone #">
</mat-form-field>
<button type="button" mat-raised-button color="primary" (click)="handleSubmitClick()">Submit</button>