#hire {
    background-color: #f7f8fc;
}

#clientele > .container {
    // background-color: #daddf2;
    border-radius: 5px;
}

.scroll-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

.scroll-container::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: #a0a9de;
}

.scroll-container::-webkit-scrollbar-thumb {
    background-color: #485abf;
}

.image-div > img {
    height: 80px !important;
    width: 80px !important;
    background-color: #ffffff !important;
}

.hiring-type {
    word-spacing: 15px;
}

@media (max-width: 992px) {
    .image-div>img {
        height: 100% !important;
    }
}

@mixin white-gradient {
	background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
}

$animationSpeed: 20s;

// Animation
@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-250px * 7))}
}

// Styling
.slider {
	background: white;
	box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
	height: 100%;
	margin: auto;
	overflow:hidden;
	position: relative;
	// width: 960px;
	
	&::before,
	&::after {
		@include white-gradient;
		content: "";
		height: 150px;
		position: absolute;
		width: 200px;
		z-index: 2;
	}
	
	&::after {
		right: 0;
		top: 0;
		transform: rotateZ(180deg);
	}

	&::before {
		left: 0;
		top: 0;
	}
	
	.slide-track {
		animation: scroll $animationSpeed linear infinite;
		display: flex;
		width: calc(250px * 12);
	}
	
	.slide {
		height: 150px;
		width: 250px;
	}
}