#hire, #clientele {
    background-color: #f6f9fc;
}

.image-div > img {
    height: 100px !important;
    width: 100px !important;
}

@media (max-width: 992px) {
    .image-div > img {
        height: 100% !important;
    }
}