.image-div>img {
    height: 360px !important;
}

.hover-card {
    transition: width 2s;
}

.hover-card:hover {
    color: white !important;
    border-top: 2px solid grey;
}

.hover-card-highlight {
    color: white !important;
    border-top: 2px solid grey;
}

#get-hired {
    border-radius: 10px;
    background-color: #e9ebf7;
    padding: 32px;
}

.card-process > i {
    margin-top: -65px;
}

.material-icons {
    margin: auto;
    padding: 20px;
    border-radius: 50%;
    color: #ffffff;
    width: 65px !important;
    font-size: 25px;
}