::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    border-radius: 10px !important;
    padding: 0.75em;
}

::ng-deep .mat-form-field-underline {
    display: none;
    border-radius: 10px !important;
}

.app-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow-y: auto !important;
}

.content {
    max-width: 100%;
    // display: flex;
    // flex-direction: column;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto !important;
    padding-bottom: 0;
}

.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}

.my-float {
    margin-top: 16px;
}