<div class="app-container">
  <app-header></app-header>
  <div class="content" #mainContent>
    <router-outlet class="router-flex" (activate)="onActivate($event)"></router-outlet>
    <app-footer></app-footer>
  </div>
  <div class="d-none d-lg-block">
    <a href="https://web.whatsapp.com/send?phone=+14256668998" class="float" target="_blank">
      <i class="fa fa-whatsapp my-float"></i>
    </a>
  </div>
  <div class="d-lg-none">
    <a href="https://api.whatsapp.com/send?phone=+14256668998" class="float" target="_blank">
      <i class="fa fa-whatsapp my-float"></i>
    </a>
  </div>
</div>