<div class="container mt-4">

    <h2><strong>Globixs has experience, expertise and network to find you the most qualified resources.</strong></h2>
    <p class="badge">What Globixs can do for you?</p>
    <ul>
        <li>A</li>
        <li>B</li>
        <li>C</li>
    </ul>

    <h4>FIND YOUR NEXT Talent</h4>

    <div class="row">
        <div class="col-md-12">
            <app-hire-form></app-hire-form>
        </div>
    </div>


    Contract: Hire skilled professionals on a temporary basis for short or long term assignments
    Permanent: Hire full time employees from entry to executive level
    Managed: Hire deep consulting expertise or specialized project teams to solve business challenges.


    Our Process
    Contact -> Connect->Review->Interview->Hire

    <section>
        STAFFING WIDE SPECTRUM
        Engineering & Technology  Health Care  Finance Automobile Government
    </section>


</div>