.image-div > img {
    max-height: 25px !important;
}

.contact-us-image-div > img {
    max-height: 450px !important;
}

.card {
    border: transparent;
}

.container {
    min-height: 77vh;
}