<div class="container image-container">

    <div class="row">
        <div class="col-md-5 mb-5 mb-md-0">
            <div class="globixs-header-title"><span class="primary-text">Globixs</span> is a people centric organization empowering professionally
                and financially.</div>
        </div>
        <div class="col-md-7">
            <div class="image-div">
                <img src="assets/images/banner-1.jpg" id="main" #imageDiv alt="IMAGE" class="d-block img-fluid mb-2">
            </div>
            <div class="circle-images">
                <img src="assets/images/banner-1.jpg" (click)="change('assets/images/banner-1.jpg')">
                <img src="assets/images/banner-2.jpg" (click)="change('assets/images/banner-2.jpg')">
                <img src="assets/images/banner-3.jpg" (click)="change('assets/images/banner-3.jpg')">
            </div>
        </div>
        <!-- <div class="col-md-6 slide-div">
            <img src="assets/images/banner-1.jpg" (click)="change('assets/images/banner-1.jpg')">
            <img src="assets/images/banner-2.jpg" (click)="change('assets/images/banner-2.jpg')">
            <img src="assets/images/banner-3.jpg" (click)="change('assets/images/banner-3.jpg')">
        </div> -->
    </div>

    <!-- Main view of our gallery -->
    <!-- <div class="main_view">
        <img src="assets/images/banner-1.jpg" id="main" #imageDiv alt="IMAGE" class="d-block img-fluid mb-2">
    </div>
    <div class="side_view">
        <img src="assets/images/banner-1.jpg" (click)="change('assets/images/banner-1.jpg')">
        <img src="assets/images/banner-2.jpg" (click)="change('assets/images/banner-2.jpg')">
        <img src="assets/images/banner-3.jpg" (click)="change('assets/images/banner-3.jpg')">
    </div> -->
</div>