<div class="container">
    <!-- <div class="body-text text-start text-center">
        <p>
            A NON PROFIT ORAGANIZATION LEAD BY YOUTH, SUPPORTED BY PARENTS
            <br>
            Our Mission: GiveTheNeed is helping those in need with-in our community. We powered with likeminded
            individuals
            who share a passion for social equality, compassion and building relationships along the way.
            <br>
            <strong>GiveTheNeed</strong> encourages participation by youth and provides an opportunity to earn
            "President's
            Volunteer Service
            Award".
        </p>
    </div> -->
    <div class="body-text">
        <h3> <strong>A Non-Profit Organization Lead by Youth and Supported by Parents.</strong></h3>
        <h5 class="mt-3">
            <strong>Our Mission:</strong> GiveTheNeed mission is to make a positive difference in people life who is in NEED through a shared sense of empathy and social responsibility.
        </h5>
        <h5><strong>GiveTheNeed</strong> encourages participation by youth and provides an opportunity to earn
            "President's
            Volunteer Service
            Award".</h5>
    </div>

    <div class="row mt-5">
        <div class="offset-md-4 col-md-2 col-sm-12">
            <div class="p-3">
                <img src="assets/images/presidents-award.png" height="140" width="140" alt="President Award Image" />
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="p-3">
                <img src="assets/images/501c3-certified.png" height="140" width="140" alt="TAX id image" />
                <p matTooltip="TAX ID">501 (c) (3) # 85-4171213</p>
            </div>
        </div>
    </div>
    <!-- <p class="mt-3">
        <a href="https://www.vtsworld.org/pvsa-rules" target="_blank">https://www.vtsworld.org/pvsa-rules</a>
    </p> -->
</div>