<div class="toolbar-div globixs-menu-bar-title" [ngClass]="{'flex-container' : (screenSize === 'small')}">
    <span style="margin-left: 15px;" class="pointer font-weight-light" routerLink="/home" routerLinkActive="active-link"
        (click)="onNavClick()">
        <small>&nbsp;Home </small></span>
    <span style="margin-left: 15px;" class="pointer font-weight-light" routerLink="/hire"
        routerLinkActive="active-link" (click)="onNavClick()">
        <small>&nbsp;Hire </small></span>
    <span style="margin-left: 15px;" class="pointer font-weight-light" routerLink="/get-hired"
        routerLinkActive="active-link" (click)="onNavClick()">
        <small>&nbsp;Get Hired </small></span>
    <span style="margin-left: 15px;" class="pointer font-weight-light" routerLink="/contact-us"
        routerLinkActive="active-link" (click)="onNavClick()">
        <small>Contact Us</small></span>
</div>